.basketItem {
  display: flex;
  flex-direction: row;
  background-color: #d9d9d9;
  margin: 5px;
}
.n,
.i,
.q,
.p {
  background-color: #9d9d9d;
  margin: 0px 5px;
  padding: 10px 15px;
  width: 25%;
  height: 100%;
}
.i,
.q,
.p {
  font-size: large;
}

.i,
.q,
.n {
  text-align: left;
}
.n {
  font-size: larger;
  font-weight: bold;
  margin-left: 0px;
}

.p {
  margin-right: 0px;
}
