.hasNot {
  display: flex;
  background-color: rgb(214, 211, 211);
}
.box {
  border: black 1px solid;
  margin: 40px 30px;
  background-color: #ebebeb;
}
.left {
  width: 50%;
  display: flex;
  justify-content: center; /* horizontally center items */
  align-items: center; /* vertically center items */
}
.left img {
  width: 350px;
  height: auto;
}

.right {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  text-align: center;
  padding-bottom: 30px;
}

.right p {
  font-size: x-large;
}
.box button {
  background-color: green;
  border: none;
  color: white;
  font-size: large;
  text-align: center;
  padding: 20px;
}

.box button:hover {
  background-color: rgb(2, 76, 2);
}

.box button:active {
  transform: translateX(4px);
}

.box button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}

.has {
  display: flex;
}

.tleft {
  background-color: #f4f4f4;
  text-align: center;
  width: 50%;
}
.tleft img {
  width: 500px;
  height: auto;
}

.tleft p {
  font-size: xx-large;
  margin: 0px;
}
.tright {
  width: 50%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.btn {
  text-align: center;
  margin-top: 50px;
}

label {
  font-size: xx-large;
}

.lines {
  margin-bottom: 20px;
  margin-left: 60px;
}
