.card {
  text-align: center;
  border: solid 2px black;
  width: 400px;
  height: 280px;
  background-color: azure;
}



.card-image {
  max-width: 75%;
  max-height: 75%;
  margin: auto;
  padding-top: 10px;
  display: block;
}
.card-attr {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  height: 10%;
}

.card-attr p {
  margin: 0;
  text-align: justify;
}
