footer {
  background-color: #b8c1c0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
footer button {
  color: #001aff;
  border: none;
  background-color: transparent;
  font-size: large;
}
